body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3a1a16;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #b22e15;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  padding: 10px 20px;
}

a:hover {
  color: #b9ad00;
}

@media (max-width: 600px) {
  select {
    width: 90%;
  }
}
