* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  min-width: 500px;
  max-width: 800px;
  background-color: #333;
  overflow-x: hidden;
  color: #fff;
  height: 100vh;
}

/* body::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../bg-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  z-index: -1;
} */

header {
  margin-bottom: 20px;
}

.home-link {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  color: #fbff00;
  text-decoration: none;
  font-weight: bold;
}

form {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #fbff00;
  color: #272727;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #97a800;
}

.add-all {
  background-color: rgb(0, 206, 206);
  color: #272727;
}

.add-all:hover {
  background-color: darkcyan;
}

.reset-button {
  background-color: #f44336;
  color: #fff;
}

.reset-button:hover {
  background-color: #e53935;
}

.main {
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.data-container {
  margin-bottom: 20px;
}

h1,
h2,
h4 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #444;
}
